USE [master]
GO
/****** Object:  Database [MedicineRecordAPI]    Script Date: 09-12-2019 09:30:27 PM ******/
CREATE DATABASE [MedicineRecordAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicineRecordAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MedicineRecordAPI.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MedicineRecordAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MedicineRecordAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicineRecordAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicineRecordAPI]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 09-12-2019 09:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](500) NULL,
	[Company] [nvarchar](50) NULL,
	[Reason] [text] NULL,
	[ExpiryDate] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

GO
INSERT [dbo].[Medicine] ([ID], [MedicineName], [Company], [Reason], [ExpiryDate], [Price], [Quantity]) VALUES (1, N'Aspirin', N'Ranbaxy', N'For blood thining', N'20-12-2019', CAST(50 AS Decimal(18, 0)), 6)
GO
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
USE [master]
GO
